.esriCTSectionTitle {
  color: #000;
  background-color: #9fbfdf ;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  padding: 8px 4px;
  font-weight: normal;
}

.esriCTTable th {
  background-color: #c6d9ec;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.esrCTAOIInfoDiv {
  position: absolute;
  margin-top: 8px;
  width: 100%;
}

.esriAOITitle {
  font-size: 18px;
  font-weight: bold;
  color: #0f96cc;
  width: 60%;
}

.esriCTAOIArea {
  margin: 10px 0;
  font-size: 16px;
}

.esriCTUnableToAnalyzeText{
  margin: 10px;
  font-style: italic;
}